plugins {
  id 'nf-nomad@0.0.2-rc1'
}

docker {
    process.container = 'quay.io/nextflow/rnaseq-nf:v1.2.1'
    docker.enabled = true
}

nomad{
    client{
        address = "http://192.168.1.131:4646"
    }
    jobs{
        deleteOnCompletion = true
        volume = [ type:'csi', name:'juicefs-volume' ]
    }
}

process.executor ='nomad'
